<a href="https://colab.research.google.com/github/chemaar/python-programming-course/blob/master/Lab_5_Data_Structures_Lists_Strings_STUDENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 5: Data structures: Lists and strings

In this notebook, we propose and solve some exercises about basic data structures implemented through Python lists and strings.

* **In these exercises, we can always proceed solving the problems in a generic way or taking advantage of Python capabilities. As a recommendation, first, try the generic way (applicable to any programming language) and, then, using Python**

* **As a good programming practice, our test cases should ensure that all branches of the code are executed at least once.**

## List of exercises



1. Write a a program that creates a list of $n$ numbers initializing each position with a value (the numeric value of such position). Display the list in the console.


* Input: 5
* Expected output:

```
[0,1,3,4,5]
```

2. Write a program that given a list of $n$ numbers, calculates and displays the length of the list.


* Input: [3,4,5,6]
* Expected output:

```
The length of the list is: 4
```

3. Write a program that given a list of $n$ numbers, calculates and displays the max value within the list and its position.


* Input: [8, 1, 9, 2]
* Expected output:

```
The max value is: 9 in position: 2.
```

4. Write a program that given a list of $n$ numbers, calculates and displays the min value within the list and its position.


* Input: [8, 1, 9, 2]
* Expected output:

```
The min value is: 1 in position: 1.
```

5. Write a program that given a list of $n$ numbers, calculates and displays the sum of its elements.


* Input: [8, 1, 9, 2]
* Expected output:

```
The sum is: 20.
```

6. Write a program that given a list of $n$ numbers and a target number $k$, counts the number of occurrences of $k$ in the list.


* Input: [8, 1, 9, 1], $k=1$
* Expected output:

```
The number 1 has 2 occurrences.
```

7. Write a program that given a list of $n$ numbers and a target number $k$, returns and displays the position of the first apparition of the number $k$.


* Input: [8, 1, 9, 1], $k=1$
* Expected output:

```
The number 1 occurs first in position 1.
```

8. Write a program that given a list of $n$ numbers and a target number $k$, returns and displays the position of the last apparition.


* Input: [8, 1, 9, 1], $k=1$
* Expected output:

```
The number 1 occurs last in position 3.
```

9. Write a program that given a list of $n$ numbers and a target number $k$, returns and displays a list of all positions in which the value $k$ occurs.


* Input: [8, 1, 9, 1], $k=1$
* Expected output:

```
The number 1 occurs in [1, 3].
```

10. Write a program that given a list of $n$ numbers, creates a new list in reverse order.


* Input: [7, 5, 9, 2]
* Expected output:

```
The reverse list is [2, 9, 5, 7].
```

11. **Benchmarking**: compare your previous code against the Python versions. See the next example.

In [0]:
#Module to use timers
import time

values = [8,1,9,2]

#Start the timer
t = time.time()

min_value = values[0]
position = 0
for i in range(1, len(values)):
  if values [i] < min_value:
    min_value = values [i]
    position = i

print("\n\tMy min version-->time Taken: %.5f sec" % (time.time()-t))

#Python way to find the max value

#Start the timer
t = time.time()

min_value = min(values)
position = values.index(min_value)

print("\n\tPython version-->time Taken: %.5f sec" % (time.time()-t))

12. Write a program that given a list of $n$ numbers, $v$, and an scalar number $k$, returns and displays the scalar product of $k	\cdot v$.


* Input: [7, 5, 9, 2], k = 3
* Expected output:

```
The scalar product of 3 and [7, 5, 9, 2] is [21, 15, 27, 6].
```

14. Write a program that given two lists of $n$ numbers, returns and displays the vector product of $l1	\cdot l2$.


* Input: [7, 5, 9, 2], [4, 5, 6, 7] 
* Expected output:

```
The vector product of [7, 5, 9, 2] and [4, 5, 6, 7]  is [28, 25, 54, 14].
```

15. Write a program that given two lists of $n$ numbers, returns all combination of pairs (cartesian product).


* Input: [7, 5, 9, 2], [4, 5, 6, 7] 
* Expected output:

```
The cartesian product is: [[7, 4], [7, 5], [7, 6], [7, 7], [5, 4], [5, 5], [5, 6], [5, 7], [9, 4], [9, 5], [9, 6], [9, 7], [2, 4], [2, 5], [2, 6], [2, 7]].

```

16. Write a program that given a list of $n$ numbers, returns and displays the average of the list numbers.


* Input: [4, 5, 6, 7] 
* Expected output:

```
The average of [4, 5, 6, 7] is 5.5.

```

17. Write a program that given a list of $n$ numbers and a number $k$, returns the first $k$ numbers.


* Input: [4, 5, 6, 7], k = 2
* Expected output:

```
[4,5]

```

18. Write a program that given a list of $n$ numbers and a number $k$, returns the last $k$ numbers.


* Input: [4, 5, 6, 7], k = 2
* Expected output:

```
[7,6]

```

19. Write a program that given a list of $n$ numbers, returns a new list containing in the same position the factorial of that value (if the value is < 0, the return value will be -1) .


* Input: [5, 0, 1, -1]
* Expected output:

```
[120, 1, 1, -1]

```

20. Write a program that given a list of $n$ numbers, returns a new list without the repeated numbers.


* Input: [4, 5, 5, 6, 6, 8]
* Expected output:

```
[4, 5, 6, 8]

```

21. Write a program that given two lists of $n$ numbers, returns the union of both lists.


* Input: [4,5,6] [5,7,8,9]
* Expected output:

```
[4, 5, 6, 7, 8, 9]

```

22. Write a program that given two lists of $n$ numbers, returns the intersection of both lists.


* Input: [4,5,6] [5,7,8,9]
* Expected output:

```
[5]

```

23. Write a program that asks the user for $n$ numbers and returns a sorted list.

* Use the function `insert(pos, value)`

* Input:  6, 4, 8
* Expected output:

```
[4, 6, 8]

```

24. Write a program that asks the user for $n$ numbers and returns a sorted list in descending order.

* Use the function `insert(pos, value)`

* Input:  6, 4, 8
* Expected output:

```
[8, 6, 4]

```

25. Write a program that given a list of $n$ numbers and a parameter $k$, creates chunks of $k$ elements.


* Input:  [1,2,3,4,5,6,7,8,9], k = 3
* Expected output:

```
[ [1,2,3], [4,5,6], [7,8,9] ]

```

26. Write a program that given a number $n$ and an initial value $k$, creates a list of size $n$ with all positions having the initial value.

* Input:  n = 10, k = -1
* Expected output:

```
[-1, -1, -1, -1, -1]

```

27. Write a program that given a string, displays the lenght of the string.

* Input:  Hello
* Expected output:

```
The lenght of Hello is 5.

```

28. Explore the string object methods.



```
dir ("")
```

28. Write a program that given a string, displays the string in reverse order.

* Input:  Hello
* Expected output:

```
Hello and olleH

```

29. Write a program that given a string, displays whether the string is a palindrome.

* Input:  anna
* Expected output:

```
anna is a palindrome True.

```

30. Write a program that given a string, displays the string in uppercase letters.

  * Make use of function `ord(char)`-->ASCII number of the char.



* Input:  This is a string
* Expected output:

```
THIS IS A STRING

```

31. Write a program that given a string, displays the string in lowercase letters.

* Input:  THIS IS A STRING
* Expected output:

```
this is a string

```

32. Write a program that given a string and a char separator, returns a list of the words. (Tokenizer)

* Input:  Anna,21,Programming
* Expected output:

```
["Anna", "21", "Programming"]

```

33. Write a program that given a list of strings, returns a list with the size of each string.

* Input:  ["Anna", "21", "Programming"]
* Expected output:

```
[4, 2, 11]

```

34. Write a program that given a string and a number $k$, returns a list of chunked strings of size $k$.

* Input:  "This is a very looooong string" and $k=3$
* Expected output:

```
['Thi', 's i', 's a', ' ve', 'ry ', 'loo', 'ooo', 'ng ', 'str', 'ing']

```

35. Write a program that given a string, returns a trimmed string (removing blankspaces at the beginning and at the end) and separating words with just one blankspace.

* Input:  "    Hello   Mary   "
* Expected output:



```
    Hello   Mary   has 18 characters.
    Hello Mary has 10 characters.
```

36. Write a program that given a string, an input character and a replacement character, returns a string replacing all occurrences of input character by the replacement character.

* Input:  "Hello", input = "l", replacement ="t"
* Expected output:



```
Hello is now Hetto.
```

37. Write a program that given a string, counts and displays the number of unique characters.

* Input:  "Hello"
* Expected output:



```
The number of unique characters is 4.
```

38. Write a program that given a list of strings and a char separator, displays a message containing each string separated by separator.

* Input:  ["Hello", "Mary,", "How", "are", "you?"], separator = "#"
* Expected output:



```
Hello#Mary,#How#are#you?
```

39. Write a program that given a string and and input pattern (another string), checks if the string starts with the input pattern.

* Input:  "Hello", pattern="He"
* Expected output:



```
True
```

40. Write a program that given a string and and input pattern (another string), checks if the string ends with the input pattern.

* Input:  "Hello", pattern="lo"
* Expected output:



```
True
```

41. Write a program that given a string, filters all characters that are not numbers.

* Use the function `value.isdigit()`

* Input:  "He2l3l4o5"
* Expected output:



```
['2', '3', '4', '5']
```

42. Write a program that given a list of integers and a value $k$, filters all numbers that are less than $k$.

* Input:  [4, 15, 9, 21], $k=10$
* Expected output:



```
[4, 9]
```

43. Write a program that given a list of integers and a value $k$, removes the first apparition of the value from the list.

* Input:  [4, 15, 9, 21], $k=15$
* Expected output:



```
[4, 9, 21]
```

44. Write a program that asks the user for introducing $k$ numbers and creates a list following a LIFO (Last Input First Output) strategy. Then, the program must extract and remove the elements following this strategy

* Input:  4, 5, 6, 7 ($k=4$)
* Expected output:

```
Stack: [4, 5, 6, 7]
Extracting: 7, Stack: [4, 5, 6, 7]
Extracting: 6, Stack: [4, 5, 6]
Extracting: 5, Stack: [4, 5]
Extracting: 4, Stack: [4]
```

45. Write a program that asks the user for introducing $k$ numbers and creates a list following a FIFO (First Input First Output) strategy. Then, the program must extract and remove the elements following this strategy

* Input:  4, 5, 6, 7 ($k=4$)
* Expected output:

```
Stack: [4, 5, 6, 7]
Extracting: 4, Stack: [4, 5, 6, 7]
Extracting: 5, Stack: [5, 6, 7]
Extracting: 6, Stack: [6, 7]
Extracting: 7, Stack: [7]
```

## Quick questions

**1. Define the lists x and y as lists of numbers.**

 * x = [2, 4, 6, 8]
 * y = [1, 3, 5, 7]

* What is the value of 2*x?
* What is the result of x+y?
* What is the result of x-y?
* What is the value of x[1]?
* What is the value of x[-1]?
* What is the value of x[:]?
* What is the value of x[2:4]?
* What is the value of x[1:4:2]?
* What is the value of x[:2]?
* What is the value of x[::2]?
* What is the result of the following two expressions? x[3]=8

**2. Define a string x = "Hello"**

* What is the value of 4*x?
* What is the value of x[1]?
* What is the value of x[-1]?
* What is the value of x[::2]?
* What is the value of x[::-1]?

## Quick review of list and string methods

### List: some relevant methods

In [0]:
#Review of list methods

#Create a list

values = []

#Append an element

values.append(1)
print(values)

#Access an element

print(values[0])

#Get number of elements

len(values)
print(len(values))

#Count the number of elements

print(values.count(1))

#Slicing [start:end:step], default start = 0, end = len(list), step = 1

#First k elements, k = 1
print(values[:1])

#List sort

print(values.sort())

#List reverse

values.reverse()

#Remove an element

del values [0]

#Remove all elements

values.clear()

### String: some relevant methods

In [0]:
#Review of string methods

value = "   Hello, Mary  "

print(len(value))

#Accessing

print(value[5])

#Cleaning
print(value.strip())

#Modifying values
print(value.upper())
print(value.lower())

#Finding and replacing
print("Hello".startswith("He"))
print("Hello".endswith("lo"))
print(value.find("H"))
print(value.replace(" ","#"))

#Check values

print("1".isdigit())

print("a".isalpha())

#Tokenizing
print(value.split(","))