<a href="https://colab.research.google.com/github/chemaar/python-programming-course/blob/master/TIPS_Python_Builtin_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Builtin functions

Following, we present some of the main [built-in functions in Python](https://docs.python.org/3/library/functions.html). These functions are available at anytime for any type of object in Python. However, the behavior can change depending on the input parameters.

First, let's discover which built-in functions are available. In general, they can be classified into some categories:

* Input/Output: input/print
* Basic operations: len
* Basic math functions: abs, pow
* Aggregation operators: min, max, sum
* Type casting: str, int, float, complex, bool
* Object identification: id, hash
* Help functions: help, dir, etc.

The rest of functions will be in our interest in other cases.

In [0]:
dir(__builtin__)

In [33]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## `print` function

* Grammar: `print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)`

* Print objects to the text stream file, separated by sep and followed by end. sep, end, file and flush, if present, must be given as keyword arguments.

>Source: https://docs.python.org/3/library/functions.html#print

In [6]:
print("Hello, no return", end="")
print("...in the same line...")
print("New line")
#Including characters such as tabulator and return
print("\t This is a tabulator with two returns extra \n\n ")
print("other line")

Hello, no return...in the same line...
New line
	 This is a tabulator with two returns extra


other line

In [8]:
print("Hello", "I am Paul", "and I am", str(30), "years old.")
#Separating input tokens with a hash
print("Hello", "I am Paul", "and I am", str(30), "years old.", sep="#")

Hello I am Paul and I am 30 years old.
Hello#I am Paul#and I am#30#years old.

In [10]:
#Formmatting the output with str.format
#Naming parameters
print("Hello I am {name} and I am {age} years old.".format(name="Paul",age=30))
#Positional parameters
print("Hello I am {} and I am {} years old.".format("Paul",30))

Hello I am Paul and I am 30 years old.
Hello I am Paul and I am 30 years old.

In [17]:
#Formatting numbers
#%[flags][width][.precision]type 
print("%6.3f" % (3.14516))
print("{0:8.3f}".format(3567.14516))

 3.145
3567.145

## `input` function

* Grammar: `input([prompt])`

* If the prompt argument is present, it is written to standard output without a trailing newline. The function then reads a line from input, converts it to a string (stripping a trailing newline), and returns that. When EOF is read, EOFError is raised. 

>Source: https://docs.python.org/3/library/functions.html#input

In [24]:
a = input(">>>>")
print(a)

>>>>aaa
aaa

## `str` function

* Grammar: `str(object=b'', encoding='utf-8', errors='strict')`

* Return a string version of object. If object is not provided, returns the empty string. Otherwise, the behavior of str() depends on whether encoding or errors is given, as follows.

>Source: https://docs.python.org/3/library/stdtypes.html#str

In [2]:
print(str(4))
print(str([1,2]))
print(str())
print(str(True))
print(str(None))

4
[1, 2]

True
None

## `len` function

* Grammar: `len(s)`

* Return the length (the number of items) of an object. The argument may be a sequence (such as a string, bytes, tuple, list, or range) or a collection (such as a dictionary, set, or frozen set).

>Source: https://docs.python.org/3/library/functions.html#len

In [18]:
len("Hello")

5

In [0]:
len(4)

## `abs` function

* Grammar: `abs(s)`

* Return the absolute value of a number. The argument may be an integer or a floating point number. If the argument is a complex number, its magnitude is returned.

>Source: https://docs.python.org/3/library/functions.html#abs

In [20]:
abs(-5)

5

## `max` function

* Grammar: `max(arg1, arg2, *args[, key])`

* Return the largest item in an iterable or the largest of two or more arguments..

>Source: https://docs.python.org/3/library/functions.html#max

In [23]:
max(2,3,4)

4

## `min` function

* Grammar: `min(arg1, arg2, *args[, key])`

* Return the smallest item in an iterable or the smallest of two or more arguments.


>Source: https://docs.python.org/3/library/functions.html#min

In [25]:
min(1,2,3)

1

## `pow` function

* Grammar: `pow(base, exp[, mod])`

* Return base to the power exp; if mod is present, return base to the power exp, modulo mod (computed more efficiently than pow(base, exp) % mod). The two-argument form pow(base, exp) is equivalent to using the power operator: base**exp.


>Source: https://docs.python.org/3/library/functions.html#pow

In [26]:
pow(2,3)

8

## `sum` function

* Grammar: `sum(iterable, /, start=0)`

* Sums start and the items of an iterable from left to right and returns the total. The iterable’s items are normally numbers, and the start value is not allowed to be a string.


>Source: https://docs.python.org/3/library/functions.html#sum

In [28]:
sum([1,2,3])

6

## `float` function

* Grammar: `float([s])`

* Return a floating point number constructed from a number or string s.


>Source: https://docs.python.org/3/library/functions.html#float

In [21]:
float("5.2")

5.2

## `int` function

* Grammar: `int([s])`

* Return an integer object constructed from a number or string x, or return 0 if no arguments are given.


>Source: https://docs.python.org/3/library/functions.html#int

In [22]:
int("1")

1

## `complex` function

* Grammar: `complex([real[, imag]])`

* Return a complex number with the value real + imag*1j or convert a string or number to a complex number. If the first parameter is a string, it will be interpreted as a complex number and the function must be called without a second parameter. The second parameter can never be a string. Each argument may be any numeric type (including complex). If imag is omitted, it defaults to zero and the constructor serves as a numeric conversion like int and float. If both arguments are omitted, returns 0j.


>Source: https://docs.python.org/3/library/functions.html#complex

In [32]:
complex(1+2j)

(1+2j)

## `bool` function

* Grammar: `bool([x])`

* Return a Boolean value, i.e. one of True or False. x is converted using the standard truth testing procedure. If x is false or omitted, this returns False; otherwise it returns True. 


>Source: https://docs.python.org/3/library/functions.html#bool

## `id` function

* Grammar: `id(object)`

* Return the “identity” of an object. This is an integer which is guaranteed to be unique and constant for this object during its lifetime. Two objects with non-overlapping lifetimes may have the same id() value.


>Source: https://docs.python.org/3/library/functions.html#id

In [29]:
a = 2
id(a)

10914528

## `hash` function

* Grammar: `hash(object)`

* Return the hash value of the object (if it has one). Hash values are integers. They are used to quickly compare dictionary keys during a dictionary lookup. Numeric values that compare equal have the same hash value (even if they are of different types, as is the case for 1 and 1.0).


>Source: https://docs.python.org/3/library/functions.html#hash

In [31]:
text = "This is an string"
hash(text)

-2681800488041121326

## References

* https://docs.python.org/3/library/functions.html